<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/Admin/Dashboard">Admin Panel</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-white" aria-current="page" href="#">Dashboard</a>
                <a class="nav-link text-white"asp-controller="Admin" asp-action="UserList">Kullanacılar</a>
                <a class="nav-link text-white" asp-controller="Admin" asp-action="ApplicationList">Başvurular</a>
                <a class="nav-link text-white" href="#">Şikayetler</a>
                <a class="nav-link text-white" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
            </div>
        </div>
    </div>
</nav>