@model StoryModel
@{
    ViewData["Title"] = "Hikaye Ekle";
}

<div class="my-5 container">
    <div>
        <div class="row">
            <div class="col-lg-12 col-md-9 col-sm-6 d-flex justify-content-center">
                <form asp-controller="User" asp-action="AddStory" method="post" enctype="multipart/form-data">
                    <div class="rounded-3 p-2" style="background: rgb(255,0,215);
                    background: linear-gradient(90deg, rgba(255,0,215,1) 0%, rgba(204,189,13,1) 50%, rgba(199,0,0,1) 100%);">
                        <div class="card text-bg-dark mb" style="max-width: 30rem;">
                            <div class="card-header text-center">Hikaye Ekle</div>
                            <div class="card-body">
                                
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" name="file" required>
                                    <label class="input-group-text" for="inputGroupFile02">Resim Yükle</label>
                                </div>
                                <div class="mb-3">
                                    <label for="Description" class="form-label">Açıklama</label>
                                    <input class="form-control" name="Description" maxlength="100">
                                </div>
                                <div>
                                    <button class="btn btn-outline-dark">Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>