@model List<UserModel>
@{
    ViewData["Title"] = "Sohbet Listesi";
}

<div class="my-5">
    <div class="mb-5">
        <h1 class="text-center text-dark">Sohbet Listesi</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-warning w-75 w-lg-50 w-xl-50">
            Not : Sohbet yapabilmek için sohbet yapacak iki kişi birbirini takip etmesi gerekir!
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                    <ul class="list-group p-2 p-lg-5 p-xl-5 border border-2 border-dark w-75 w-lg-50 w-xl-50 shadow-lg bg-dark">
                    @if(Model.Count()>0)
                    {
                        @foreach(var user in Model)
                        {
                            <li class="list-group-item border border-2 border-dark">
                                <a asp-controller="User" asp-action="Profile" asp-route-userId="@user.Id" class="text-decoration-none text-dark">
                                    <div class="d-flex">
                                        <div class="d-inline me-2">
                                            <img src="~/userImages/@(user.UserName).jpeg" alt="" width="50px" height="50px" class="rounded-circle">
                                        </div>
                                        <div class="d-inlne pt-2">
                                            <span>@user.UserName</span>
                                            @if(user.IsApproved==true)
                                            {
                                                <img src="~/icons/mavi-tik1.png" alt="" width="20px" height="20px"
                                                class="rounded-circle">
                                            }
                                        </div>
                                    </div>
                                </a>
                                <div>
                                    <div class="float-end">
                                        <a asp-controller="User" asp-action="Chat" asp-route-userId="@user.Id" class="btn btn-outline-dark text-decoration-none p-1 m-0">
                                            <i class="fa-regular fa-comments fa-lg me-2"></i>
                                            <span class="me-2">Sohbet Et</span>
                                            <i class="fa-solid fa-angle-right fa-lg"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                            </li>
                        }
                    }else{

                        <li>
                            <div class="alert alert-dark" role="alert">
                                Sohbet yapabilmek için iki kişide birbirini takip etmesi gerekiyor!
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>