@model ResetPasswordModel

@{
    ViewData["Title"] = "Şifreyi Yenile";
    var Alert = TempData["Alert"];
}

<div class="my-5">
    @if(TempData["Message"] != null)
    {
        <div class="alert @Alert mb-3" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="text-center text-dark mb-5">Şifreyi Yenileme</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="card text-bg-dark mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header text-center">Şifreni Yenile</div>
                <div class="card-body">
                    <form asp-controller="User" asp-action="ResetPassword" method="post" enctype="multipart/form-data">
                        
                        <div class="mb-3">
                            <label asp-for="OldPassword" class="form-label">Şuan ki şifren</label>
                            <input class="form-control" asp-for="OldPassword">
                            <span asp-validation-for="OldPassword" class="text-warning"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Yeni şifre</label>
                            <input class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Şifreyi onayla</label>
                            <input class="form-control" asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <a asp-controller="User" asp-action="Settings" class="btn btn-outline-dark" type="submit">Geri</a>
                            </div>
                            <div>
                                <button class="btn btn-outline-dark" type="submit">Güncelle</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>