@model List<PostModel>
@{
    ViewData["Title"] ="Keşfet";
    var Alert = TempData["Alert"];
}

<div class="container my-5">
    <div class="mb-5">
        <h1 class="text-center text-dark">Keşfet</h1>
    </div>
    @if(TempData["Message"] != null)
    {
        <div class="alert @Alert" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="mb-5">
        <form asp-controller="User" asp-action="FindUserName" method="post" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Kullanıcı adı gir..." aria-label="Search" name="search">
            <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </form>
    </div>
    <div>
        <div class="row">
            @if(Model.Count()==0)
            {
                <div class="alert alert-dark" role="alert">
                    Keşfetiniz Boş!
                </div>
            }else{
                @foreach(var post in Model)
                {
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 p-1" style="max-height: 300px; min-height: 100px;">
                        <a asp-controller="Home" asp-action="PostDetails" asp-route-postId="@post.Id">
                            <div class="m-0" style="width: 100%; height: 100%; overflow: hidden;">
                                <img src="~/postImages/@post.ImageUrl" style="width: 100%; height: 100%; object-fit: cover;" alt="">
                            </div>
                        </a>
                    </div>
                }
            }
            
        </div>
    </div>
</div>