@model List<UserModel>
@{
    ViewData["Title"] = "Postu Beğenenler";
}

<div class="my-5">
    <div class="mb-5">
        <h1 class="text-center text-dark">Beğenenler</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                    <ul class="list-group p-2 p-lg-5 p-xl-5 border border-2 border-dark w-75 w-lg-50 w-xl-50 shadow-lg bg-dark">
                    @if(Model.Count()>0)
                    {
                        @foreach(var user in Model)
                        {
                            <li class="list-group-item border border-2 border-dark">
                                <a asp-controller="User" asp-action="Profile" asp-route-userId="@user.Id" class="text-decoration-none text-dark">
                                    <div class="d-flex">
                                        <div class="d-inline me-2">
                                            <img src="~/userImages/@(user.UserName).jpeg" alt="" style="width: 50px; height: 50px;" class="rounded-circle">
                                        </div>
                                        <div class="d-inlne pt-2">
                                            <span>@user.UserName</span>
                                        </div>
                                    </div>
                                    
                                </a>
                            </li>
                        }
                    }else{

                        <li>
                            <div class="alert alert-dark" role="alert">
                                Beğeni yok ilk sen beğen!
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>